name: flutter_ship_app
description: "Flutter App Release Checklist (companion app for the Flutter in Production course)"
publish_to: 'none'
version: 0.1.8

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Drift and friends
  drift: 2.18.0
  drift_dev: 2.18.0
  path_provider: 2.1.3
  path: 1.9.0
  sqlite3_flutter_libs: 0.5.21
  sqlite3: 2.4.3
  # Other packages
  flex_color_scheme: 7.3.1
  flutter_riverpod: 2.5.1
  riverpod_annotation: 2.3.5
  shared_preferences: 2.2.3
  auto_size_text: 3.0.0
  url_launcher: 6.2.6
  package_info_plus: 8.0.0
  accessibility_tools: 2.0.0
  dio: 5.4.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: 4.0.0
  build_runner: 2.4.9
  riverpod_generator: 2.4.0
  custom_lint: 0.6.4
  riverpod_lint: 2.3.10

flutter:
  uses-material-design: true
  assets:
    - assets/common/